html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.card {
	width: 90%;
  padding: 15px;
	margin: auto;
}

.card .body {
  font-size: 14px;
  color: #424242;
  padding: 20px;
	margin: auto;
}

.profile-page .profile-header .profile-image img {
  border-radius: 50%;
  width: 120px;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23)
}

.profile-page .profile-header .social-icon a {
    margin: 0 5px
}